﻿.item-list {
    background-color: #ebebeb;
    border-bottom: 10px solid #d3d3d3;
    height: 60px;
}

ul li {
    display: inline; /* Отображать как строчный элемент */
    font-size: 10ex;
    font-family: Arial;
    list-style: none;
    padding-left: 1%;
    padding-right: 1%;
}

    ul li:active {
        background-color: #d3d3d3;
        color: blue;
        border-bottom: 10px solid black;
    }

.pager-current {
    background-color: gray;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 10px solid black;
}

a {
    text-decoration: none !important;
    color: black;
}
