﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Defult.aspx.cs" Inherits="IISServerTest.Properties.Defult" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <br />

            <asp:Button ID="Button1" runat="server" Text="Button for Postback" OnClick="Button1_Click" />

        </div>
    </form>
</body>
</html>
