﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HomePanel.aspx.cs" Inherits="Ajax.HomePanel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <a href="ManageForm.aspx">Администрирование </a>
            <br />
            <a href="ItemsView.aspx">Просмотр </a>
        </div>
    </form>
</body>
</html>
