﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Quesiton.aspx.cs" Inherits="TestTaskUserControl.WebForm2" %>
<%@ Register assembly="ControlSample" namespace="ControlLibrary" tagprefix="cc1"%>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <cc1:MyCompositeControl ID="MyControl" QuestionSize="24" AnswerSize="24" runat="server"/>
    </div>
    </form>
</body>
</html>
