﻿p {
    font-family: Arial;
    font-size: 100px;
    display: inline-block;
    height: 120px;
    width: auto;
    margin: 2px;
    padding-top: 0.5em;
}

.leftBlack {
    color: black;
    background-color: white;
}

.rightWhite {
    color: white;
    background-color: black;
}

.OuterBorder {
    border: solid;
    width: 664px;
    height: auto;
}
